
body{
    background-color: #ffffff;
    padding-left: 60px;
    padding-right: 60px;
    
header { 
    display: flex;
    width: 100%;
    background-color: rgb(147, 212, 241);
    padding: 1rem;
    position: relative;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
} 
footer{
    background-color: black;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
    padding-bottom: 60px;
}

@media screen and (min-width: 1024){
    .intro{
        display: flex;
    }
}

.imagens{
    width: 290px;
    display: block;
    margin: 0 auto;

}
#Lmenu{
    width:50px;
}

.lista{
    display: none;
    position: absolute;
    top:100%;
    background-color:#ff0000;
    width:100%;
    padding: 10px 0;
    text-align: center;
}
.check ~ .lista{
    display: block;
}

}

.Opcao{
    color: black;
    background-color: rgb(147, 212, 241) ;
    text-decoration: none;  
}
.dis{
    color: black;
    text-decoration: none;
}