
body{
    background-color: #D9D9D9;
    padding-left: 40px;
    padding-right: 40px;
    
header{
    text-align: center;
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    position: relative;
}
footer{
    background-color: black;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
}
@media screen and (min-width: 1024){
    .intro{
        display: flex;
    }
}

.imagens{
    width: 290px;
    display: block;
    margin: 0 auto;

}
#Lmenu{
    width:50px;
}
a{
    color: black;
    text-decoration: none;
}
.lista{
    display: none;
    position: absolute;
    top:100%;
    background-color:#D9D9D9;
    width:100%;
    padding: 10px 0;
    text-align: center;
}
.check ~ .lista{
    display: block;
}
#menu{
    display:none;
}
.item{
    padding: 12px 0;
}
ul li{
    list-style: none;
}
#bo{
    background-color: rgb(0, 0, 0);
    color:white;
    text-align: center;
}