
body{
    background-color: #D9D9D9;
    padding-left: 40px;
    padding-right: 40px;
    
header{
    text-align: center;
    padding: 20px;
    background-color: white;
}
footer{
    background-color: black;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
}
@media screen and (min-width: 1024){
    .intro{
        display: flex;
    }
}
.pe{
    text-align: center;
}
.imagens{
    width: 500px;
    display: block;
    margin: 0 auto;

}